# Real-world data analysis example: PPC Campaign Performance

In the following example, we will load and analyze a generated set of data. The dataset is almost in the same format as could be obtained from AdWords using its reporting API, but the data itself is completely generated and any similarities with any existing AdWords Account is purely coincidental.

Let's dive right in!

We have to start by importing the `pandas` library. All the examples in [the official pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) import the library under the `pd` alias. Futhermore, [the official NumPy documentation] also uses an alias: `np`. We'll follow these conventions and import both libraries using these aliases:

In [1]:
import pandas as pd
import numpy as np

When working in Jupyter notebooks (especially when presenting), it might be a good idea to set the maximum number of rows displayed when printing `DataFrame`s and `Series`es. To do so, set `display.max_rows` and `display.max_seq_items` options:

In [2]:
pd.set_option('display.max_rows', 20)
pd.set_option('display.max_seq_items', 20)

## Creating your first table

We can now proceed by creating your first table. We can initialize the `DataFrame` using:

* A list of dictionaries, each dictionary will represent one row and dictionary keys will be mapped to columns. Please note that order of columns might not be preserved unless you use `OrderedDict`s, even in Python 3.6! Or, you can set the optional `columns` argument and they will be ordered accordingly.
* A list of tuples/lists, each tuple/list wil represent one row. You can specify the optional `columns` argument to specify number of columns.
* A generator yielding any of the above.
* A dictionary of columns, key will be mapped to columns and each value should contain a list of values. As in the first method, you might need to use `OrderedDict` in order to preserve column order.
* ... and a couple of other methods which are well-described in [the documentation of DataFrame constructor](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html).

Let's try some of these methods:

In [3]:
restaurant = pd.DataFrame([
    {'name': 'Arthur Dent', 'homeworld': 'Earth', 'bill': 8.45},
    {'name': 'Ford Prefect', 'homeworld': 'Betelgeuse Five', 'bill': 85.9},
    {'name': 'Tricia McMillan', 'homeworld': 'Earth', 'bill': 10.2},
])
restaurant

    bill        homeworld             name
0   8.45            Earth      Arthur Dent
1  85.90  Betelgeuse Five     Ford Prefect
2  10.20            Earth  Tricia McMillan

In [4]:
from collections import OrderedDict
restaurant = pd.DataFrame([
    OrderedDict([('name', 'Arthur Dent'), ('homeworld', 'Earth'), ('bill', 8.45)]),
    OrderedDict([('name', 'Ford Prefect'), ('homeworld', 'Betelgeuse Five'), ('bill', 85.9)]),
    OrderedDict([('name', 'Tricia McMillan'), ('homeworld', 'Earth'), ('bill', 10.2)]),
])
restaurant

              name        homeworld   bill
0      Arthur Dent            Earth   8.45
1     Ford Prefect  Betelgeuse Five  85.90
2  Tricia McMillan            Earth  10.20

In [5]:
restaurant = pd.DataFrame([
    {'name': 'Arthur Dent', 'homeworld': 'Earth', 'bill': 8.45},
    {'name': 'Ford Prefect', 'homeworld': 'Betelgeuse Five', 'bill': 85.9},
    {'name': 'Tricia McMillan', 'homeworld': 'Earth', 'bill': 10.2},
], columns=('name', 'homeworld', 'bill'))
restaurant

              name        homeworld   bill
0      Arthur Dent            Earth   8.45
1     Ford Prefect  Betelgeuse Five  85.90
2  Tricia McMillan            Earth  10.20

In [6]:
restaurant = pd.DataFrame([
    ('Arthur Dent', 'Earth', 8.45),
    ('Ford Prefect', 'Betelgeuse Five', 85.9),
    ('Tricia McMillan', 'Earth', 10.2),
], columns=('name', 'homeworld', 'bill'))
restaurant

              name        homeworld   bill
0      Arthur Dent            Earth   8.45
1     Ford Prefect  Betelgeuse Five  85.90
2  Tricia McMillan            Earth  10.20

In [7]:
restaurant = pd.DataFrame(OrderedDict([
    ('name', ['Arthur Dent', 'Ford Prefect', 'Tricia McMillan']),
    ('homeworld', ['Earth', 'Betelgeuse Five', 'Earth']),
    ('bill', [8.45, 85.9, 10.2]),
]))
restaurant

              name        homeworld   bill
0      Arthur Dent            Earth   8.45
1     Ford Prefect  Betelgeuse Five  85.90
2  Tricia McMillan            Earth  10.20

## Loading from an XLSX file

Usually, you'll need to load some data that are already stored in some other format. pandas contains support for loading from various formats: CSV, XLS, XLSX, JSON, HDF5 and a [few other formats](http://pandas.pydata.org/pandas-docs/stable/io.html). To read an XLSX file, you'll need the `xlrd` library installed. pandas can read a single sheet specified by the `sheet_name` parameter, or it can read everything and will return a dictionary of data frames (unless there is only one sheet - in that case, it will return just the dataframe).

In [8]:
ad_group_performance = pd.read_excel(
    '../data/data_ad_group_performance.xlsx'
)
ad_group_performance

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue
0,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-01,8,0,0.00,0,0.00
1,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-02,10,0,0.00,0,0.00
2,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-03,23,2,7.80,0,0.00
3,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-04,10,0,0.00,0,0.00
4,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-05,9,0,0.00,0,0.00
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-06,6,0,0.00,0,0.00
6,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-07,4,0,0.00,0,0.00
7,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-08,8,0,0.00,0,0.00
8,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-09,8,0,0.00,0,0.00
9,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-10,11,0,0.00,0,0.00
...,...,...,...,...,...,...,...,...,...,...
88064,30,Značky,300236,2W Sports,2018-04-27,289,38,227.60,4,7040.33
88065,30,Značky,300236,2W Sports,2018-04-28,148,19,105.16,2,1749.26
88066,30,Značky,300236,2W Sports,2018-04-29,179,18,83.38,2,2716.50
88067,30,Značky,300236,2W Sports,2018-04-30,281,40,179.98,4,8734.24
88068,30,Značky,300236,2W Sports,2018-05-01,382,52,347.03,6,10795.34
88069,30,Značky,300236,2W Sports,2018-05-02,551,74,366.98,6,5742.52
88070,30,Značky,300236,2W Sports,2018-05-03,383,49,311.07,5,9168.58
88071,30,Značky,300236,2W Sports,2018-05-04,323,40,246.23,3,5529.16
88072,30,Značky,300236,2W Sports,2018-05-05,161,17,115.48,1,1172.09
88073,30,Značky,300236,2W Sports,2018-05-06,157,14,68.60,1,1744.15

The table we have just loaded contains daily performance of Ad Groups for 18 weeks. For every Ad Group, there are 18 * 7 = 126 rows with performance metrics, each for a single day.

The table contains the following columns:

* `CampaignId`: Internal ID of Campaign in AdWords.
* `CampaignName`: Name of the Campaign.
* `AdGroupId`: Internal ID of Ad Group in AdWords.
* `AdGroupName`: Name of the Ad Group.
* `Date`: Parsed date. pandas recognizes dates stored in XLSX files.
* `Impressions`: How many times any ad from the Ad Group was served and displayed on that days.
* `Clicks`: How many people clicked on the Ad and therefore visited our website.
* `Cost`: How much these clicks cost. Remember, PPC is Pay-Per-Click.
* `Conversions`: Number of conversions, e.g. how many people, who clicked on an ad and visited our website, actually bought anything.
* `ConversionsValue`: Total revenue from all of these purchases.

## Data Selection

We can access individual columns using their name using the indexing operator (like accessing an item of `dict`):

In [9]:
ad_group_performance['CampaignName']

0        Sortiment
1        Sortiment
2        Sortiment
3        Sortiment
4        Sortiment
5        Sortiment
6        Sortiment
7        Sortiment
8        Sortiment
9        Sortiment
           ...
88064       Značky
88065       Značky
88066       Značky
88067       Značky
88068       Značky
88069       Značky
88070       Značky
88071       Značky
88072       Značky
88073       Značky
Name: CampaignName, Length: 88074, dtype: object

In [10]:
ad_group_performance['Impressions']

0          8
1         10
2         23
3         10
4          9
5          6
6          4
7          8
8          8
9         11
        ...
88064    289
88065    148
88066    179
88067    281
88068    382
88069    551
88070    383
88071    323
88072    161
88073    157
Name: Impressions, Length: 88074, dtype: int64

Each column is actualy a named series. Note that each column has its own `dtype`.

We can also "select" columns if you pass a list of their names to the indexing operator. We will get another table with subset of columns (you can call it projection, if you are into relational algebra):

In [11]:
ad_group_performance[
    ['CampaignName', 'AdGroupName', 'Impressions']
]

      CampaignName                     AdGroupName  Impressions
0        Sortiment  BANDÁŽE & LÉKÁRNIČKA > Bandáže            8
1        Sortiment  BANDÁŽE & LÉKÁRNIČKA > Bandáže           10
2        Sortiment  BANDÁŽE & LÉKÁRNIČKA > Bandáže           23
3        Sortiment  BANDÁŽE & LÉKÁRNIČKA > Bandáže           10
4        Sortiment  BANDÁŽE & LÉKÁRNIČKA > Bandáže            9
5        Sortiment  BANDÁŽE & LÉKÁRNIČKA > Bandáže            6
6        Sortiment  BANDÁŽE & LÉKÁRNIČKA > Bandáže            4
7        Sortiment  BANDÁŽE & LÉKÁRNIČKA > Bandáže            8
8        Sortiment  BANDÁŽE & LÉKÁRNIČKA > Bandáže            8
9        Sortiment  BANDÁŽE & LÉKÁRNIČKA > Bandáže           11
...            ...                             ...          ...
88064       Značky                       2W Sports          289
88065       Značky                       2W Sports          148
88066       Značky                       2W Sports          179
88067       Značky                       2W Sports          281
88068       Značky                       2W Sports          382
88069       Značky                       2W Sports          551
88070       Značky                       2W Sports          383
88071       Značky                       2W Sports          323
88072       Značky                       2W Sports          161
88073       Značky                       2W Sports          157

[88074 rows x 3 columns]

We can also access the rows using their value in index. Since we didn't tell pandas anything about the index of the table, it generated a default 0-based numeric index. This means that we can access the rows like elements in the array using the special `loc` property:

In [12]:
ad_group_performance.loc[5]

CampaignId                                      10
CampaignName                             Sortiment
AdGroupId                                   100002
AdGroupName         BANDÁŽE & LÉKÁRNIČKA > Bandáže
Date                           2018-01-06 00:00:00
Impressions                                      6
Clicks                                           0
Cost                                             0
Conversions                                      0
ConversionsValue                                 0
Name: 5, dtype: object

If we pass an array, we can also get multiple rows:

In [13]:
ad_group_performance.loc[
    [5, 6, 7, 8, 15, 25]
]

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-06,6,0,0.00,0,0.0
6,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-07,4,0,0.00,0,0.0
7,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-08,8,0,0.00,0,0.0
8,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-09,8,0,0.00,0,0.0
15,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-16,20,1,8.04,0,0.0
25,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-26,20,1,6.67,0,0.0

We can also use slicing to get the first 5 rows:

In [14]:
ad_group_performance.loc[:5]

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue
0,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-01,8,0,0.0,0,0.0
1,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-02,10,0,0.0,0,0.0
2,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-03,23,2,7.8,0,0.0
3,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-04,10,0,0.0,0,0.0
4,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-05,9,0,0.0,0,0.0
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-06,6,0,0.0,0,0.0

Or we can also pass a column name to get only a specific cell:

In [15]:
ad_group_performance.loc[4, 'Date']

Timestamp('2018-01-05 00:00:00')

There are many other ways to access the columns and rows, se the documentation chapter on [Indexing and Selecting Data](https://pandas.pydata.org/pandas-docs/stable/indexing.html) to get more information.

## Filtering

Selecting rows by their index is not very useful. We might want to get specific rows matching our own condition. Luckily, pandas has it covered: we can pass a series of `bool`s to the indexing operator. The series must have the same size as there are rows in the `DataFrame`. We can get such series by simply taking one of the columns in the table and comparing it to value (or other series). `pandas.Series` supports all kinds of operators: standard math (`+` `-` `*` `/` `**` `%`), relational operators (`>` `>=` `<` `<=` `==` `!=`) and logical operators (`&` `|` `~`). Each of these operators are applied on every item of the series and a new series with results is returned.

So, let's assume we would like to get rows where the number of impressions is less than 10:

In [16]:
ad_group_performance[
    ad_group_performance['Impressions'] < 10
]

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue
0,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-01,8,0,0.0,0,0.0
4,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-05,9,0,0.0,0,0.0
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-06,6,0,0.0,0,0.0
6,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-07,4,0,0.0,0,0.0
7,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-08,8,0,0.0,0,0.0
8,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-09,8,0,0.0,0,0.0
10,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-11,8,0,0.0,0,0.0
11,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-12,5,0,0.0,0,0.0
12,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-13,5,0,0.0,0,0.0
13,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-14,3,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
87646,30,Značky,300233,Zepp,2018-03-18,0,0,0.0,0,0.0
87708,30,Značky,300234,Net Playz,2018-01-13,8,0,0.0,0,0.0
87709,30,Značky,300234,Net Playz,2018-01-14,9,0,0.0,0,0.0
87771,30,Značky,300234,Net Playz,2018-03-17,0,0,0.0,0,0.0
87772,30,Značky,300234,Net Playz,2018-03-18,0,0,0.0,0,0.0
87897,30,Značky,300235,Metaxtren,2018-03-17,0,0,0.0,0,0.0
87898,30,Značky,300235,Metaxtren,2018-03-18,0,0,0.0,0,0.0
87954,30,Značky,300236,2W Sports,2018-01-07,8,0,0.0,0,0.0
88023,30,Značky,300236,2W Sports,2018-03-17,0,0,0.0,0,0.0
88024,30,Značky,300236,2W Sports,2018-03-18,0,0,0.0,0,0.0

We can also combine multiple series using the `&` and `|` operators. To find rows where number of impressions is greater than 100 and number of conversions is 0:

In [17]:
ad_group_performance[
    (ad_group_performance['Impressions'] > 100) &
    (ad_group_performance['Conversions'] == 0)
]

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue
106,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-04-17,113,14,72.26,0,0.0
203,10,Sortiment,100009,"BANDÁŽE & LÉKÁRNIČKA > Chladící spreje, zahřív...",2018-03-19,107,10,36.20,0,0.0
231,10,Sortiment,100009,"BANDÁŽE & LÉKÁRNIČKA > Chladící spreje, zahřív...",2018-04-16,112,11,42.98,0,0.0
367,10,Sortiment,100010,BANDÁŽE & LÉKÁRNIČKA > Masážní emulze,2018-04-26,112,13,65.75,0,0.0
443,10,Sortiment,100011,BANDÁŽE & LÉKÁRNIČKA > Tejpovací pásky,2018-03-07,119,11,55.61,0,0.0
591,10,Sortiment,100016,BAZÉNY > Bazény nafukovací,2018-03-29,107,13,82.68,0,0.0
721,10,Sortiment,100017,BAZÉNY > Bazény samostavěcí,2018-04-02,106,11,74.46,0,0.0
735,10,Sortiment,100017,BAZÉNY > Bazény samostavěcí,2018-04-16,109,11,71.25,0,0.0
754,10,Sortiment,100017,BAZÉNY > Bazény samostavěcí,2018-05-05,102,11,30.44,0,0.0
980,10,Sortiment,100019,BAZÉNY > Bazény příslušenství,2018-04-09,108,11,46.36,0,0.0
...,...,...,...,...,...,...,...,...,...,...
87807,30,Značky,300234,Net Playz,2018-04-22,109,8,41.74,0,0.0
87844,30,Značky,300235,Metaxtren,2018-01-23,121,10,59.55,0,0.0
87845,30,Značky,300235,Metaxtren,2018-01-24,155,12,37.29,0,0.0
87874,30,Značky,300235,Metaxtren,2018-02-22,110,10,49.59,0,0.0
87889,30,Značky,300235,Metaxtren,2018-03-09,139,12,36.74,0,0.0
87933,30,Značky,300235,Metaxtren,2018-04-22,126,11,48.22,0,0.0
87997,30,Značky,300236,2W Sports,2018-02-19,104,9,36.88,0,0.0
88022,30,Značky,300236,2W Sports,2018-03-16,106,9,58.28,0,0.0
88045,30,Značky,300236,2W Sports,2018-04-08,114,9,50.61,0,0.0
88059,30,Značky,300236,2W Sports,2018-04-22,111,10,68.40,0,0.0

`pandas.Series` also supports the `~` unary operator for negation. To get rows with number of impressions greater than 100 and conversions not equal to 0 (pay attention to the tiny snake in front of the second parentheses):

In [18]:
ad_group_performance[
    (ad_group_performance['Impressions'] > 100) &
    ~(ad_group_performance['Conversions'] == 0)
]

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue
72,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-03-14,189,19,52.98,1,1808.09
78,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-03-20,117,15,75.93,1,855.51
79,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-03-21,127,14,58.12,1,1029.55
86,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-03-28,165,19,106.26,1,1487.56
92,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-04-03,127,14,79.61,1,1616.48
93,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-04-04,179,20,82.30,1,1283.86
94,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-04-05,131,16,89.91,1,2102.88
98,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-04-09,120,14,84.59,1,979.48
99,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-04-10,149,18,74.10,1,1235.16
100,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-04-11,236,32,211.74,2,3625.54
...,...,...,...,...,...,...,...,...,...,...
88064,30,Značky,300236,2W Sports,2018-04-27,289,38,227.60,4,7040.33
88065,30,Značky,300236,2W Sports,2018-04-28,148,19,105.16,2,1749.26
88066,30,Značky,300236,2W Sports,2018-04-29,179,18,83.38,2,2716.50
88067,30,Značky,300236,2W Sports,2018-04-30,281,40,179.98,4,8734.24
88068,30,Značky,300236,2W Sports,2018-05-01,382,52,347.03,6,10795.34
88069,30,Značky,300236,2W Sports,2018-05-02,551,74,366.98,6,5742.52
88070,30,Značky,300236,2W Sports,2018-05-03,383,49,311.07,5,9168.58
88071,30,Značky,300236,2W Sports,2018-05-04,323,40,246.23,3,5529.16
88072,30,Značky,300236,2W Sports,2018-05-05,161,17,115.48,1,1172.09
88073,30,Značky,300236,2W Sports,2018-05-06,157,14,68.60,1,1744.15

## Computations

We'll continue our tour by computing a few metrics that are common in the PPC world. They are described in the slides.

**→ Switch to the slides and continue on slide 31 if you are interested.**

We can add a new columns to the table just by assigning them. We can assign either a new series, or a constant value - it will be repeated in the every row:

In [19]:
ad_group_performance['TheAnswer'] = 42
ad_group_performance

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue,TheAnswer
0,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-01,8,0,0.00,0,0.00,42
1,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-02,10,0,0.00,0,0.00,42
2,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-03,23,2,7.80,0,0.00,42
3,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-04,10,0,0.00,0,0.00,42
4,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-05,9,0,0.00,0,0.00,42
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-06,6,0,0.00,0,0.00,42
6,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-07,4,0,0.00,0,0.00,42
7,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-08,8,0,0.00,0,0.00,42
8,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-09,8,0,0.00,0,0.00,42
9,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-10,11,0,0.00,0,0.00,42
...,...,...,...,...,...,...,...,...,...,...,...
88064,30,Značky,300236,2W Sports,2018-04-27,289,38,227.60,4,7040.33,42
88065,30,Značky,300236,2W Sports,2018-04-28,148,19,105.16,2,1749.26,42
88066,30,Značky,300236,2W Sports,2018-04-29,179,18,83.38,2,2716.50,42
88067,30,Značky,300236,2W Sports,2018-04-30,281,40,179.98,4,8734.24,42
88068,30,Značky,300236,2W Sports,2018-05-01,382,52,347.03,6,10795.34,42
88069,30,Značky,300236,2W Sports,2018-05-02,551,74,366.98,6,5742.52,42
88070,30,Značky,300236,2W Sports,2018-05-03,383,49,311.07,5,9168.58,42
88071,30,Značky,300236,2W Sports,2018-05-04,323,40,246.23,3,5529.16,42
88072,30,Značky,300236,2W Sports,2018-05-05,161,17,115.48,1,1172.09,42
88073,30,Značky,300236,2W Sports,2018-05-06,157,14,68.60,1,1744.15,42

We can compute CTR by taking the `Clicks` column and dividing it by `Impressions` column:

In [20]:
ad_group_performance['CTR'] = (
    ad_group_performance['Clicks'] /
    ad_group_performance['Impressions']
)
ad_group_performance

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue,TheAnswer,CTR
0,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-01,8,0,0.00,0,0.00,42,0.000000
1,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-02,10,0,0.00,0,0.00,42,0.000000
2,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-03,23,2,7.80,0,0.00,42,0.086957
3,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-04,10,0,0.00,0,0.00,42,0.000000
4,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-05,9,0,0.00,0,0.00,42,0.000000
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-06,6,0,0.00,0,0.00,42,0.000000
6,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-07,4,0,0.00,0,0.00,42,0.000000
7,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-08,8,0,0.00,0,0.00,42,0.000000
8,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-09,8,0,0.00,0,0.00,42,0.000000
9,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-10,11,0,0.00,0,0.00,42,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
88064,30,Značky,300236,2W Sports,2018-04-27,289,38,227.60,4,7040.33,42,0.131488
88065,30,Značky,300236,2W Sports,2018-04-28,148,19,105.16,2,1749.26,42,0.128378
88066,30,Značky,300236,2W Sports,2018-04-29,179,18,83.38,2,2716.50,42,0.100559
88067,30,Značky,300236,2W Sports,2018-04-30,281,40,179.98,4,8734.24,42,0.142349
88068,30,Značky,300236,2W Sports,2018-05-01,382,52,347.03,6,10795.34,42,0.136126
88069,30,Značky,300236,2W Sports,2018-05-02,551,74,366.98,6,5742.52,42,0.134301
88070,30,Značky,300236,2W Sports,2018-05-03,383,49,311.07,5,9168.58,42,0.127937
88071,30,Značky,300236,2W Sports,2018-05-04,323,40,246.23,3,5529.16,42,0.123839
88072,30,Značky,300236,2W Sports,2018-05-05,161,17,115.48,1,1172.09,42,0.105590
88073,30,Značky,300236,2W Sports,2018-05-06,157,14,68.60,1,1744.15,42,0.089172

If we are not happy with any of the columns, or if we don't need it anymore (we know The Answer), we can delete it using the `drop` method of `pandas.DataFrame`:

In [21]:
ad_group_performance.drop(columns=['TheAnswer'])
ad_group_performance

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue,TheAnswer,CTR
0,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-01,8,0,0.00,0,0.00,42,0.000000
1,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-02,10,0,0.00,0,0.00,42,0.000000
2,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-03,23,2,7.80,0,0.00,42,0.086957
3,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-04,10,0,0.00,0,0.00,42,0.000000
4,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-05,9,0,0.00,0,0.00,42,0.000000
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-06,6,0,0.00,0,0.00,42,0.000000
6,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-07,4,0,0.00,0,0.00,42,0.000000
7,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-08,8,0,0.00,0,0.00,42,0.000000
8,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-09,8,0,0.00,0,0.00,42,0.000000
9,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-10,11,0,0.00,0,0.00,42,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
88064,30,Značky,300236,2W Sports,2018-04-27,289,38,227.60,4,7040.33,42,0.131488
88065,30,Značky,300236,2W Sports,2018-04-28,148,19,105.16,2,1749.26,42,0.128378
88066,30,Značky,300236,2W Sports,2018-04-29,179,18,83.38,2,2716.50,42,0.100559
88067,30,Značky,300236,2W Sports,2018-04-30,281,40,179.98,4,8734.24,42,0.142349
88068,30,Značky,300236,2W Sports,2018-05-01,382,52,347.03,6,10795.34,42,0.136126
88069,30,Značky,300236,2W Sports,2018-05-02,551,74,366.98,6,5742.52,42,0.134301
88070,30,Značky,300236,2W Sports,2018-05-03,383,49,311.07,5,9168.58,42,0.127937
88071,30,Značky,300236,2W Sports,2018-05-04,323,40,246.23,3,5529.16,42,0.123839
88072,30,Značky,300236,2W Sports,2018-05-05,161,17,115.48,1,1172.09,42,0.105590
88073,30,Značky,300236,2W Sports,2018-05-06,157,14,68.60,1,1744.15,42,0.089172

The column is still there! That's because many functions and methods in `pandas` returns a new instance of `DataFrame` and keeps the original instance intact. Don't worry, it does it's best not to copy values when it's not necessary. To modify the instance, re-assign the variable like this:

```python
ad_group_performance = ad_group_performance.drop(columns=['TheAnswer'])
```

Or, more conviniently, most of the methods supports the `inplace` argument, which will tell pandas to modify the original instance:

In [22]:
ad_group_performance.drop(
    columns=['TheAnswer'], inplace=True
)
ad_group_performance

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue,CTR
0,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-01,8,0,0.00,0,0.00,0.000000
1,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-02,10,0,0.00,0,0.00,0.000000
2,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-03,23,2,7.80,0,0.00,0.086957
3,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-04,10,0,0.00,0,0.00,0.000000
4,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-05,9,0,0.00,0,0.00,0.000000
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-06,6,0,0.00,0,0.00,0.000000
6,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-07,4,0,0.00,0,0.00,0.000000
7,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-08,8,0,0.00,0,0.00,0.000000
8,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-09,8,0,0.00,0,0.00,0.000000
9,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-10,11,0,0.00,0,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
88064,30,Značky,300236,2W Sports,2018-04-27,289,38,227.60,4,7040.33,0.131488
88065,30,Značky,300236,2W Sports,2018-04-28,148,19,105.16,2,1749.26,0.128378
88066,30,Značky,300236,2W Sports,2018-04-29,179,18,83.38,2,2716.50,0.100559
88067,30,Značky,300236,2W Sports,2018-04-30,281,40,179.98,4,8734.24,0.142349
88068,30,Značky,300236,2W Sports,2018-05-01,382,52,347.03,6,10795.34,0.136126
88069,30,Značky,300236,2W Sports,2018-05-02,551,74,366.98,6,5742.52,0.134301
88070,30,Značky,300236,2W Sports,2018-05-03,383,49,311.07,5,9168.58,0.127937
88071,30,Značky,300236,2W Sports,2018-05-04,323,40,246.23,3,5529.16,0.123839
88072,30,Značky,300236,2W Sports,2018-05-05,161,17,115.48,1,1172.09,0.105590
88073,30,Značky,300236,2W Sports,2018-05-06,157,14,68.60,1,1744.15,0.089172

Let's compute the CPC and Average Conversion Value:

In [23]:
ad_group_performance['CPC'] = (
    ad_group_performance['Cost'] /
    ad_group_performance['Impressions']
)

ad_group_performance['AvgConversionValue'] = (
    ad_group_performance['ConversionsValue'] /
    ad_group_performance['Conversions']
)

ad_group_performance

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue,CTR,CPC,AvgConversionValue
0,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-01,8,0,0.00,0,0.00,0.000000,0.000000,NaN
1,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-02,10,0,0.00,0,0.00,0.000000,0.000000,NaN
2,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-03,23,2,7.80,0,0.00,0.086957,0.339130,NaN
3,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-04,10,0,0.00,0,0.00,0.000000,0.000000,NaN
4,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-05,9,0,0.00,0,0.00,0.000000,0.000000,NaN
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-06,6,0,0.00,0,0.00,0.000000,0.000000,NaN
6,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-07,4,0,0.00,0,0.00,0.000000,0.000000,NaN
7,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-08,8,0,0.00,0,0.00,0.000000,0.000000,NaN
8,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-09,8,0,0.00,0,0.00,0.000000,0.000000,NaN
9,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-10,11,0,0.00,0,0.00,0.000000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88064,30,Značky,300236,2W Sports,2018-04-27,289,38,227.60,4,7040.33,0.131488,0.787543,1760.082500
88065,30,Značky,300236,2W Sports,2018-04-28,148,19,105.16,2,1749.26,0.128378,0.710541,874.630000
88066,30,Značky,300236,2W Sports,2018-04-29,179,18,83.38,2,2716.50,0.100559,0.465810,1358.250000
88067,30,Značky,300236,2W Sports,2018-04-30,281,40,179.98,4,8734.24,0.142349,0.640498,2183.560000
88068,30,Značky,300236,2W Sports,2018-05-01,382,52,347.03,6,10795.34,0.136126,0.908455,1799.223333
88069,30,Značky,300236,2W Sports,2018-05-02,551,74,366.98,6,5742.52,0.134301,0.666025,957.086667
88070,30,Značky,300236,2W Sports,2018-05-03,383,49,311.07,5,9168.58,0.127937,0.812193,1833.716000
88071,30,Značky,300236,2W Sports,2018-05-04,323,40,246.23,3,5529.16,0.123839,0.762322,1843.053333
88072,30,Značky,300236,2W Sports,2018-05-05,161,17,115.48,1,1172.09,0.105590,0.717267,1172.090000
88073,30,Značky,300236,2W Sports,2018-05-06,157,14,68.60,1,1744.15,0.089172,0.436943,1744.150000

As you can see, there are a few `NaN` values in the `AvgConversionValue` column. That's because the `Conversions`, which is used as divisor, is zero. pandas does not raise `ZeroDivisionError` in this case and replace the value with `NaN`. We can check for `NaN`s, as well as for `None`, using the `pandas.isnull` (alias of `pandas.isnan`) function. To get all rows where `AvgConversionValue` is `NaN`:

In [24]:
ad_group_performance[
    pd.isnull(ad_group_performance['AvgConversionValue'])
]

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue,CTR,CPC,AvgConversionValue
0,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-01,8,0,0.00,0,0.0,0.000000,0.000000,NaN
1,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-02,10,0,0.00,0,0.0,0.000000,0.000000,NaN
2,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-03,23,2,7.80,0,0.0,0.086957,0.339130,NaN
3,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-04,10,0,0.00,0,0.0,0.000000,0.000000,NaN
4,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-05,9,0,0.00,0,0.0,0.000000,0.000000,NaN
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-06,6,0,0.00,0,0.0,0.000000,0.000000,NaN
6,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-07,4,0,0.00,0,0.0,0.000000,0.000000,NaN
7,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-08,8,0,0.00,0,0.0,0.000000,0.000000,NaN
8,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-09,8,0,0.00,0,0.0,0.000000,0.000000,NaN
9,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-10,11,0,0.00,0,0.0,0.000000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88017,30,Značky,300236,2W Sports,2018-03-11,49,4,20.76,0,0.0,0.081633,0.423673,NaN
88022,30,Značky,300236,2W Sports,2018-03-16,106,9,58.28,0,0.0,0.084906,0.549811,NaN
88023,30,Značky,300236,2W Sports,2018-03-17,0,0,0.00,0,0.0,NaN,NaN,NaN
88024,30,Značky,300236,2W Sports,2018-03-18,0,0,0.00,0,0.0,NaN,NaN,NaN
88030,30,Značky,300236,2W Sports,2018-03-24,97,9,39.95,0,0.0,0.092784,0.411856,NaN
88031,30,Značky,300236,2W Sports,2018-03-25,71,5,25.87,0,0.0,0.070423,0.364366,NaN
88038,30,Značky,300236,2W Sports,2018-04-01,78,7,36.79,0,0.0,0.089744,0.471667,NaN
88045,30,Značky,300236,2W Sports,2018-04-08,114,9,50.61,0,0.0,0.078947,0.443947,NaN
88052,30,Značky,300236,2W Sports,2018-04-15,82,7,23.74,0,0.0,0.085366,0.289512,NaN
88059,30,Značky,300236,2W Sports,2018-04-22,111,10,68.40,0,0.0,0.090090,0.616216,NaN

We might also be interested in descriptive statistics of individual columns, such as:

* What is the total number of clicks we received?
* What is the median value of number of conversions?
* What is the minumum number of impressions we got?

pandas can answer all of these questions (and many more) easily - see the documentation on [computations and descriptive statistics](https://pandas.pydata.org/pandas-docs/stable/api.html#computations-descriptive-stats) for more details:

In [25]:
ad_group_performance['Clicks'].sum()

981751

In [26]:
ad_group_performance['Conversions'].median()

0.0

In [27]:
ad_group_performance['Impressions'].min()

0

You can see that the minumum number of impressions is 0 - we might have stopped some ad groups, but it can also indicate some larger problem, for instance we might have ran out of credit in our wallet. Let's investigate!

We start by searching for rows with zero impressions:

In [28]:
ad_groups_zero_impr = ad_group_performance[
    ad_group_performance['Impressions'] == 0
]
ad_groups_zero_impr

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue,CTR,CPC,AvgConversionValue
75,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-03-17,0,0,0.0,0,0.0,NaN,NaN,NaN
76,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-03-18,0,0,0.0,0,0.0,NaN,NaN,NaN
201,10,Sortiment,100009,"BANDÁŽE & LÉKÁRNIČKA > Chladící spreje, zahřív...",2018-03-17,0,0,0.0,0,0.0,NaN,NaN,NaN
202,10,Sortiment,100009,"BANDÁŽE & LÉKÁRNIČKA > Chladící spreje, zahřív...",2018-03-18,0,0,0.0,0,0.0,NaN,NaN,NaN
327,10,Sortiment,100010,BANDÁŽE & LÉKÁRNIČKA > Masážní emulze,2018-03-17,0,0,0.0,0,0.0,NaN,NaN,NaN
328,10,Sortiment,100010,BANDÁŽE & LÉKÁRNIČKA > Masážní emulze,2018-03-18,0,0,0.0,0,0.0,NaN,NaN,NaN
453,10,Sortiment,100011,BANDÁŽE & LÉKÁRNIČKA > Tejpovací pásky,2018-03-17,0,0,0.0,0,0.0,NaN,NaN,NaN
454,10,Sortiment,100011,BANDÁŽE & LÉKÁRNIČKA > Tejpovací pásky,2018-03-18,0,0,0.0,0,0.0,NaN,NaN,NaN
579,10,Sortiment,100016,BAZÉNY > Bazény nafukovací,2018-03-17,0,0,0.0,0,0.0,NaN,NaN,NaN
580,10,Sortiment,100016,BAZÉNY > Bazény nafukovací,2018-03-18,0,0,0.0,0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87519,30,Značky,300232,Green Biscuit,2018-03-17,0,0,0.0,0,0.0,NaN,NaN,NaN
87520,30,Značky,300232,Green Biscuit,2018-03-18,0,0,0.0,0,0.0,NaN,NaN,NaN
87645,30,Značky,300233,Zepp,2018-03-17,0,0,0.0,0,0.0,NaN,NaN,NaN
87646,30,Značky,300233,Zepp,2018-03-18,0,0,0.0,0,0.0,NaN,NaN,NaN
87771,30,Značky,300234,Net Playz,2018-03-17,0,0,0.0,0,0.0,NaN,NaN,NaN
87772,30,Značky,300234,Net Playz,2018-03-18,0,0,0.0,0,0.0,NaN,NaN,NaN
87897,30,Značky,300235,Metaxtren,2018-03-17,0,0,0.0,0,0.0,NaN,NaN,NaN
87898,30,Značky,300235,Metaxtren,2018-03-18,0,0,0.0,0,0.0,NaN,NaN,NaN
88023,30,Značky,300236,2W Sports,2018-03-17,0,0,0.0,0,0.0,NaN,NaN,NaN
88024,30,Značky,300236,2W Sports,2018-03-18,0,0,0.0,0,0.0,NaN,NaN,NaN

As you can see, dates 2018-03-17 and 2018-03-18 repeats quite often, but there are 1398 rows and it might be difficult to search them manually. Let's group the values by campaign and date and see how many ad groups without impressions there are in each campaign and for each day.

## Grouping

Grouping can be done using [the `DataFrame.groupby` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html):

In [29]:
ad_groups_zero_impr.groupby(
    ['CampaignName', 'Date']
)

Well, that is not very useful. pandas will defer the actual grouping operation until you perform any action with it. You can list the groups, for instance:

In [30]:
ad_groups_zero_impr.groupby(
    ['CampaignName', 'Date']
).groups

{('Sortiment',
  Timestamp('2018-03-17 00:00:00')): Int64Index([   75,   201,   327,   453,   579,   705,   831,   957,  1083,
              1209,
             ...
             24393, 24519, 24645, 24771, 24897, 25023, 25149, 25275, 25401,
             25527],
            dtype='int64', length=203),
 ('Sortiment',
  Timestamp('2018-03-18 00:00:00')): Int64Index([   76,   202,   328,   454,   580,   706,   832,   958,  1084,
              1210,
             ...
             24394, 24520, 24646, 24772, 24898, 25024, 25150, 25276, 25402,
             25528],
            dtype='int64', length=203),
 ('Sport',
  Timestamp('2018-03-17 00:00:00')): Int64Index([25653, 25779, 25905, 26031, 26157, 26283, 26409, 26535, 26661,
             26787,
             ...
             57153, 57279, 57405, 57531, 57657, 57783, 57909, 58035, 58161,
             58287],
            dtype='int64', length=260),
 ('Sport',
  Timestamp('2018-03-18 00:00:00')): Int64Index([25654, 25780, 25906, 26032, 26158, 26284, 26410, 26536, 26662,
             26788,
             ...
             57154, 57280, 57406, 57532, 57658, 57784, 57910, 58036, 58162,
             58288],
            dtype='int64', length=260),
 ('Značky',
  Timestamp('2018-03-17 00:00:00')): Int64Index([58413, 58539, 58665, 58791, 58917, 59043, 59169, 59295, 59421,
             59547,
             ...
             86889, 87015, 87141, 87267, 87393, 87519, 87645, 87771, 87897,
             88023],
            dtype='int64', length=236),
 ('Značky',
  Timestamp('2018-03-18 00:00:00')): Int64Index([58414, 58540, 58666, 58792, 58918, 59044, 59170, 59296, 59422,
             59548,
             ...
             86890, 87016, 87142, 87268, 87394, 87520, 87646, 87772, 87898,
             88024],
            dtype='int64', length=236)}

You can already see that there are 6 groups, each with 2 dates: 2018-03-17 and 2018-03-18. This confirms our suspicion that this is an error caused by insufficient credit in the wallet, but it is still quite hard to read. Let's get the number of values for each group:

In [31]:
counts_by_campaign_date = ad_groups_zero_impr.groupby(
    ['CampaignName', 'Date']
).count()
counts_by_campaign_date

                         CampaignId  AdGroupId  AdGroupName  Impressions  \
CampaignName Date
Sortiment    2018-03-17         203        203          203          203
             2018-03-18         203        203          203          203
Sport        2018-03-17         260        260          260          260
             2018-03-18         260        260          260          260
Značky       2018-03-17         236        236          235          236
             2018-03-18         236        236          235          236

                         Clicks  Cost  Conversions  ConversionsValue  CTR  \
CampaignName Date
Sortiment    2018-03-17     203   203          203               203    0
             2018-03-18     203   203          203               203    0
Sport        2018-03-17     260   260          260               260    0
             2018-03-18     260   260          260               260    0
Značky       2018-03-17     236   236          236               236    0
             2018-03-18     236   236          236               236    0

                         CPC  AvgConversionValue
CampaignName Date
Sortiment    2018-03-17    0                   0
             2018-03-18    0                   0
Sport        2018-03-17    0                   0
             2018-03-18    0                   0
Značky       2018-03-17    0                   0
             2018-03-18    0                   0

We didn't specify any column, pandas simply computed the counts for each of the columns. The aggregation counts only non-`Nan` and non-`None` values, therefore there are zeros in the `CTR`, `CPC` and `AvgConversionValue` columns.

You can also se that the first two columns, `CampaignName` and `Date`, are printed in bold and their names are not on the same line. This means that pandas created a hierachical index from the values. We can access any group on the first level by passing that group to the `loc` property:

In [32]:
counts_by_campaign_date.loc['Sport']

,CampaignId,AdGroupId,AdGroupName,Impressions,Clicks,Cost,Conversions,ConversionsValue,CTR,CPC,AvgConversionValue
Date,,,,,,,,,,,
2018-03-17,260,260,260,260,260,260,260,260,0,0,0
2018-03-18,260,260,260,260,260,260,260,260,0,0,0

We can also access a specific row by passing a tuple with values from `CampaignName` and `Date`, in that order:

In [33]:
counts_by_campaign_date.loc[('Sport', '2018-03-18')]

CampaignId            260
AdGroupId             260
AdGroupName           260
Impressions           260
Clicks                260
Cost                  260
Conversions           260
ConversionsValue      260
CTR                     0
CPC                     0
AvgConversionValue      0
Name: (Sport, 2018-03-18 00:00:00), dtype: int64

Generally, you can access any sub-group on any level, just pass a tuple containing a path to that group.

You can also let pandas produce a table without the hierarchical index (like a GROUP BY clause in SQL) if you set the `as_index` argument to `False`. pandas will generate a numerical zero-based index:

In [34]:
ad_groups_zero_impr.groupby(
    ['CampaignName', 'Date'],
    as_index=False
).count()

,CampaignName,Date,CampaignId,AdGroupId,AdGroupName,Impressions,Clicks,Cost,Conversions,ConversionsValue,CTR,CPC,AvgConversionValue
0,Sortiment,2018-03-17,203,203,203,203,203,203,203,203,0,0,0
1,Sortiment,2018-03-18,203,203,203,203,203,203,203,203,0,0,0
2,Sport,2018-03-17,260,260,260,260,260,260,260,260,0,0,0
3,Sport,2018-03-18,260,260,260,260,260,260,260,260,0,0,0
4,Značky,2018-03-17,236,236,235,236,236,236,236,236,0,0,0
5,Značky,2018-03-18,236,236,235,236,236,236,236,236,0,0,0

To get the metrics only for one of the columns, just pick any of the columns without `NaN`, for instance `AdGroupId` and compute statistics for that column (pandas will return a series with values only with that column):

In [35]:
ad_groups_zero_impr.groupby(
    ['CampaignName', 'Date']
)['CampaignId'].count()

CampaignName  Date
Sortiment     2018-03-17    203
              2018-03-18    203
Sport         2018-03-17    260
              2018-03-18    260
Značky        2018-03-17    236
              2018-03-18    236
Name: CampaignId, dtype: int64

We can take advantage of grouping and answer another question: which day of week performs the best?

We need to extract the day of week from the date and then group by that column. `pandas.Series` has a bunch of [methods for working with dates](https://pandas.pydata.org/pandas-docs/stable/api.html#datetimelike-properties), so it is quite straightforward:

In [36]:
ad_group_performance['DayOfWeek'] = (
    ad_group_performance['Date'].dt.dayofweek
)
ad_group_performance

,CampaignId,CampaignName,AdGroupId,AdGroupName,Date,Impressions,Clicks,Cost,Conversions,ConversionsValue,CTR,CPC,AvgConversionValue,DayOfWeek
0,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-01,8,0,0.00,0,0.00,0.000000,0.000000,NaN,0
1,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-02,10,0,0.00,0,0.00,0.000000,0.000000,NaN,1
2,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-03,23,2,7.80,0,0.00,0.086957,0.339130,NaN,2
3,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-04,10,0,0.00,0,0.00,0.000000,0.000000,NaN,3
4,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-05,9,0,0.00,0,0.00,0.000000,0.000000,NaN,4
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-06,6,0,0.00,0,0.00,0.000000,0.000000,NaN,5
6,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-07,4,0,0.00,0,0.00,0.000000,0.000000,NaN,6
7,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-08,8,0,0.00,0,0.00,0.000000,0.000000,NaN,0
8,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-09,8,0,0.00,0,0.00,0.000000,0.000000,NaN,1
9,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,2018-01-10,11,0,0.00,0,0.00,0.000000,0.000000,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88064,30,Značky,300236,2W Sports,2018-04-27,289,38,227.60,4,7040.33,0.131488,0.787543,1760.082500,4
88065,30,Značky,300236,2W Sports,2018-04-28,148,19,105.16,2,1749.26,0.128378,0.710541,874.630000,5
88066,30,Značky,300236,2W Sports,2018-04-29,179,18,83.38,2,2716.50,0.100559,0.465810,1358.250000,6
88067,30,Značky,300236,2W Sports,2018-04-30,281,40,179.98,4,8734.24,0.142349,0.640498,2183.560000,0
88068,30,Značky,300236,2W Sports,2018-05-01,382,52,347.03,6,10795.34,0.136126,0.908455,1799.223333,1
88069,30,Značky,300236,2W Sports,2018-05-02,551,74,366.98,6,5742.52,0.134301,0.666025,957.086667,2
88070,30,Značky,300236,2W Sports,2018-05-03,383,49,311.07,5,9168.58,0.127937,0.812193,1833.716000,3
88071,30,Značky,300236,2W Sports,2018-05-04,323,40,246.23,3,5529.16,0.123839,0.762322,1843.053333,4
88072,30,Značky,300236,2W Sports,2018-05-05,161,17,115.48,1,1172.09,0.105590,0.717267,1172.090000,5
88073,30,Značky,300236,2W Sports,2018-05-06,157,14,68.60,1,1744.15,0.089172,0.436943,1744.150000,6

0 is Monday and 6 is Sunday, easy. We can now group by the column and compute the statistics. However, we will need to aggregate multiple columns at once. This is a good job for the `agg` method. It takes a dictionary, where keys equals to columns which will be used for the aggregations, and values are either `str`s with aggregation method to evaluate (such as `sum`, `count`, `min`, `mean`), or custom functions.

When using a custom function, it will receive a single argument: a `Series` with chunk of data to aggregate. We will try it later on, let's use the already defined methods:

In [37]:
daily_performance = ad_group_performance.groupby(
    ['DayOfWeek']
).agg({
    'Impressions': 'sum',
    'Clicks': 'sum',
    'Cost': 'sum',
    'Conversions': 'sum',
    'ConversionsValue': 'sum',
})
daily_performance

           Impressions  Clicks        Cost  Conversions  ConversionsValue
DayOfWeek
0              1293427  128800   645247.97         7879       11820394.08
1              1510898  176479   884101.44        12235       18367323.13
2              2627300  312016  1557574.45        25271       37868771.99
3              1433246  159468   796980.68        10645       16059219.44
4              1074882  111806   558364.51         6292        9442549.28
5               605837   54200   270375.85         1912        2865806.65
6               508784   38982   194312.86          877        1309774.25

So many numbers! Let's sort it by `ConversionsValue`, which is our revenue from the advertisment (note the `inplace=True` argument):

In [38]:
daily_performance.sort_values(
    by='ConversionsValue',
    ascending=False,
    inplace=True
)
daily_performance

           Impressions  Clicks        Cost  Conversions  ConversionsValue
DayOfWeek
2              2627300  312016  1557574.45        25271       37868771.99
1              1510898  176479   884101.44        12235       18367323.13
3              1433246  159468   796980.68        10645       16059219.44
0              1293427  128800   645247.97         7879       11820394.08
4              1074882  111806   558364.51         6292        9442549.28
5               605837   54200   270375.85         1912        2865806.65
6               508784   38982   194312.86          877        1309774.25

You can see that Wednesday is by far our most profitable day of week. This is dependent on your type of business, people generally shop less during the weekends.

But that is for the whole account. What if we wanted to examine individual campaings over the week? pandas supports pivoting to do exactly that.

## Pivoting

Pivoting is an operation that transposes rows to columns based on a value in one or more columns - columns will be named after the values. We can perform this operation either on rows, or on hierarchical index, but we have to use a different method.

First of all, we will show how to perform pivoting on columns. We use the `DataFrame.unstack` method, we have to pass a level of the hierarchical index on which to operate - either number, name (such as `DayOfWeek`) or `-1` to operate on the last level (the default):

In [39]:
campaign_weekday_performance = ad_group_performance.groupby(
    ['CampaignName', 'DayOfWeek']
).agg({
    'Impressions': 'sum',
    'Clicks': 'sum',
    'Cost': 'sum',
    'Conversions': 'sum',
    'ConversionsValue': 'sum',
})
campaign_weekday_performance

                        Impressions  Clicks       Cost  Conversions  \
CampaignName DayOfWeek
Sortiment    0               213204   20339  101980.92          798
             1               249400   28266  141042.37         1465
             2               432991   50468  250946.83         3422
             3               237585   25503  128431.33         1225
             4               176450   17559   87293.71          553
             5                99614    8194   40748.36           33
             6                83824    5704   28267.87            2
Sport        0               456675   45294  226536.94         2672
             1               535121   62470  313710.62         4189
             2               926918  109595  546554.16         8714
...                             ...     ...        ...          ...
             4               379313   39326  197760.54         2109
             5               215229   19120   96637.77          572
             6               179724   13664   68016.33          164
Značky       0               623548   63167  316730.11         4409
             1               726377   85743  429348.45         6581
             2              1267391  151953  760073.46        13135
             3               690505   77727  387930.03         5784
             4               519119   54921  273310.26         3630
             5               290994   26886  132989.72         1307
             6               245236   19614   98028.66          711

                        ConversionsValue
CampaignName DayOfWeek
Sortiment    0                1164976.27
             1                2223564.59
             2                5173427.00
             3                1849827.56
             4                 836560.94
             5                  52099.08
             6                   1474.84
Sport        0                4033629.71
             1                6317212.62
             2               13030195.91
...                                  ...
             4                3172101.32
             5                 870202.18
             6                 248022.95
Značky       0                6621788.10
             1                9826545.92
             2               19665149.08
             3                8737907.23
             4                5433887.02
             5                1943505.39
             6                1060276.46

[21 rows x 5 columns]

In [40]:
campaign_weekday_performance = (
    campaign_weekday_performance.unstack(
        level='DayOfWeek'
    )
)
campaign_weekday_performance

             Impressions                                                   \
DayOfWeek              0       1        2       3       4       5       6
CampaignName
Sortiment         213204  249400   432991  237585  176450   99614   83824
Sport             456675  535121   926918  505156  379313  215229  179724
Značky            623548  726377  1267391  690505  519119  290994  245236

             Clicks                    ...     Conversions             \
DayOfWeek         0      1       2     ...               4     5    6
CampaignName                           ...
Sortiment     20339  28266   50468     ...             553    33    2
Sport         45294  62470  109595     ...            2109   572  164
Značky        63167  85743  151953     ...            3630  1307  711

             ConversionsValue                                       \
DayOfWeek                   0           1            2           3
CampaignName
Sortiment          1164976.27  2223564.59   5173427.00  1849827.56
Sport              4033629.71  6317212.62  13030195.91  5471484.65
Značky             6621788.10  9826545.92  19665149.08  8737907.23


DayOfWeek              4           5           6
CampaignName
Sortiment      836560.94    52099.08     1474.84
Sport         3172101.32   870202.18   248022.95
Značky        5433887.02  1943505.39  1060276.46

[3 rows x 35 columns]

If the value we would like to use for pivoting is not in an index, but in any of the columns of the table (for instance if we passed `as_index=False` to the `groupby` method), we have to use the `DataFrame.pivot` method. The method requires at least two parameters: `index` which will tell pandas what colum shall be used to identify rows, and `columns` which will specify column name(s) whose values will be used to create new columns.

In [41]:
campaign_weekday_performance = ad_group_performance.groupby(
    ['CampaignName', 'DayOfWeek'],
    as_index=False
).agg({
    'Impressions': 'sum',
    'Clicks': 'sum',
    'Cost': 'sum',
    'Conversions': 'sum',
    'ConversionsValue': 'sum',
})
campaign_weekday_performance

,CampaignName,DayOfWeek,Impressions,Clicks,Cost,Conversions,ConversionsValue
0,Sortiment,0,213204,20339,101980.92,798,1164976.27
1,Sortiment,1,249400,28266,141042.37,1465,2223564.59
2,Sortiment,2,432991,50468,250946.83,3422,5173427.00
3,Sortiment,3,237585,25503,128431.33,1225,1849827.56
4,Sortiment,4,176450,17559,87293.71,553,836560.94
5,Sortiment,5,99614,8194,40748.36,33,52099.08
6,Sortiment,6,83824,5704,28267.87,2,1474.84
7,Sport,0,456675,45294,226536.94,2672,4033629.71
8,Sport,1,535121,62470,313710.62,4189,6317212.62
9,Sport,2,926918,109595,546554.16,8714,13030195.91
...,...,...,...,...,...,...,...
11,Sport,4,379313,39326,197760.54,2109,3172101.32
12,Sport,5,215229,19120,96637.77,572,870202.18
13,Sport,6,179724,13664,68016.33,164,248022.95
14,Značky,0,623548,63167,316730.11,4409,6621788.10
15,Značky,1,726377,85743,429348.45,6581,9826545.92
16,Značky,2,1267391,151953,760073.46,13135,19665149.08
17,Značky,3,690505,77727,387930.03,5784,8737907.23
18,Značky,4,519119,54921,273310.26,3630,5433887.02
19,Značky,5,290994,26886,132989.72,1307,1943505.39
20,Značky,6,245236,19614,98028.66,711,1060276.46

In [42]:
campaign_weekday_performance = (
    campaign_weekday_performance.pivot(
        index='CampaignName',
        columns='DayOfWeek'
    )
)
campaign_weekday_performance

             Impressions                                                   \
DayOfWeek              0       1        2       3       4       5       6
CampaignName
Sortiment         213204  249400   432991  237585  176450   99614   83824
Sport             456675  535121   926918  505156  379313  215229  179724
Značky            623548  726377  1267391  690505  519119  290994  245236

             Clicks                    ...     Conversions             \
DayOfWeek         0      1       2     ...               4     5    6
CampaignName                           ...
Sortiment     20339  28266   50468     ...             553    33    2
Sport         45294  62470  109595     ...            2109   572  164
Značky        63167  85743  151953     ...            3630  1307  711

             ConversionsValue                                       \
DayOfWeek                   0           1            2           3
CampaignName
Sortiment          1164976.27  2223564.59   5173427.00  1849827.56
Sport              4033629.71  6317212.62  13030195.91  5471484.65
Značky             6621788.10  9826545.92  19665149.08  8737907.23


DayOfWeek              4           5           6
CampaignName
Sortiment      836560.94    52099.08     1474.84
Sport         3172101.32   870202.18   248022.95
Značky        5433887.02  1943505.39  1060276.46

[3 rows x 35 columns]

pandas actually created a hierarchical columns. Column name is on the first level and `DayOfWeek` on the second one. Just like with hierarchical indexes, we can access specific group or specific column by passing a value or tuple with path to the indexing operator:

In [43]:
campaign_weekday_performance['Impressions']

DayOfWeek          0       1        2       3       4       5       6
CampaignName
Sortiment     213204  249400   432991  237585  176450   99614   83824
Sport         456675  535121   926918  505156  379313  215229  179724
Značky        623548  726377  1267391  690505  519119  290994  245236

In [44]:
campaign_weekday_performance[('Impressions', 0)]

CampaignName
Sortiment    213204
Sport        456675
Značky       623548
Name: (Impressions, 0), dtype: int64

## Joining Tables

Until now, we worked with a single table. In practice, we often have multiple tables that contains different views on the data and we need to join them together. In AdWords, such example is the Quality Score metric. That metric is available only on the keyword-level reports, but we might want to aggregate it's value and see it on the Ad Group or even Campaign level. This will enable us to quickly find Ad Groups or Campaigns where we need to focus on the keywords and their quality.

We will load another table that contains quality scores on the keyword-level:

In [45]:
keywords_qs = pd.read_excel(
    '../data/data_keywords_quality_score.xlsx'
)
keywords_qs

,CampaignId,CampaignName,AdGroupId,AdGroupName,Keyword,Impressions,QualityScore
0,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,Keyword #1,180,5
1,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,Keyword #2,538,8
2,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,Keyword #3,348,10
3,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,Keyword #4,435,5
4,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,Keyword #5,150,6
5,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,Keyword #6,552,9
6,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,Keyword #7,163,10
7,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,Keyword #8,284,9
8,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,Keyword #9,587,10
9,10,Sortiment,100002,BANDÁŽE & LÉKÁRNIČKA > Bandáže,Keyword #10,483,5
...,...,...,...,...,...,...,...
139091,30,Značky,300236,2W Sports,Keyword #190,257,9
139092,30,Značky,300236,2W Sports,Keyword #191,677,4
139093,30,Značky,300236,2W Sports,Keyword #192,446,7
139094,30,Značky,300236,2W Sports,Keyword #193,664,10
139095,30,Značky,300236,2W Sports,Keyword #194,238,5
139096,30,Značky,300236,2W Sports,Keyword #195,1099,10
139097,30,Značky,300236,2W Sports,Keyword #196,1341,5
139098,30,Značky,300236,2W Sports,Keyword #197,354,6
139099,30,Značky,300236,2W Sports,Keyword #198,373,5
139100,30,Značky,300236,2W Sports,Keyword #199,788,7

The table contains a row for each keyword in each Ad Group. It contains two metrics: `Impressions` and `QualityScore`. We would like to compute the aggregated `QualityScore` on the Ad Group level. It would be a mistake to simply calculate the mean over all keywords in an Ad Group - keywords that are rarely searched and has low quality score is usually not a big deal, but keywords with many impressions and low quality score should be fixed. Therefore, we need to calculate weighted average with number of impressions as weight.

To accomplish this task, we can aggregate the values using the [`numpy.average` function](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.average.html), which allows us to set the `weights` parameter:

In [46]:
def weighted_average(chunk):
    return np.average(
        chunk,
        weights=keywords_qs.loc[chunk.index, 'Impressions']
    )

ad_group_qs = keywords_qs.groupby('AdGroupId').agg({
    'QualityScore': weighted_average
})

### Can be also written using lambda function:
ad_group_qs = keywords_qs.groupby('AdGroupId').agg({
    'QualityScore': \
        lambda chunk: np.average(
            chunk,
            weights=keywords_qs.loc[chunk.index, 'Impressions']
        )
})
###

ad_group_qs

           QualityScore
AdGroupId
100002         6.632908
100009         3.632348
100010         6.751332
100011         3.671307
100016         6.759263
100017         3.720429
100018         6.487329
100019         3.484831
100023         3.675614
100024         6.466821
...                 ...
300227         3.538236
300228         6.501745
300229         3.606981
300230         6.748987
300231         3.575687
300232         6.519185
300233         3.806116
300234         6.291536
300235         3.721868
300236         6.464149

[699 rows x 1 columns]

You can see that there are few differences, but it would be useful to see the data in context with other metrics. Let's join the tables!

Before we begin, we need to aggregate the `ad_group_performance` table on the `AdGroupId` level:

In [47]:
ad_group_performance_sum = ad_group_performance.groupby(
    'AdGroupId',
    as_index=False
).agg({
    'CampaignId': 'first',
    'CampaignName': 'first',
    'AdGroupName': 'first',
    'Impressions': 'sum',
    'Clicks': 'sum',
    'Cost': 'sum',
    'Conversions': 'sum',
    'ConversionsValue': 'sum',
})
ad_group_performance_sum

,AdGroupId,CampaignId,CampaignName,AdGroupName,Impressions,Clicks,Cost,Conversions,ConversionsValue
0,100002,10,Sortiment,BANDÁŽE & LÉKÁRNIČKA > Bandáže,7404,773,3886.25,36,57647.81
1,100009,10,Sortiment,"BANDÁŽE & LÉKÁRNIČKA > Chladící spreje, zahřív...",7411,784,4060.60,38,49948.08
2,100010,10,Sortiment,BANDÁŽE & LÉKÁRNIČKA > Masážní emulze,7063,736,3627.29,38,62183.60
3,100011,10,Sortiment,BANDÁŽE & LÉKÁRNIČKA > Tejpovací pásky,7340,768,4031.54,36,55975.46
4,100016,10,Sortiment,BAZÉNY > Bazény nafukovací,7291,758,3765.15,39,61803.48
5,100017,10,Sortiment,BAZÉNY > Bazény samostavěcí,7412,781,3837.84,39,69029.10
6,100018,10,Sortiment,BAZÉNY > Bazény s pevnou stěnou,7275,752,3750.54,38,55799.99
7,100019,10,Sortiment,BAZÉNY > Bazény příslušenství,7465,785,3911.61,38,53463.83
8,100023,10,Sortiment,BAZÉNY > Pumpy,7475,791,3987.36,37,53718.26
9,100024,10,Sortiment,BAZÉNY > Schůdky,6859,696,3355.85,28,39985.07
...,...,...,...,...,...,...,...,...,...
689,300227,30,Značky,BARNY'S,18390,2023,10575.12,152,213450.51
690,300228,30,Značky,Malbucare,18615,2046,10299.01,143,234677.30
691,300229,30,Značky,Malbufit,19230,2107,10425.96,158,259113.81
692,300230,30,Značky,Spinfire,20196,2214,11399.85,167,247684.97
693,300231,30,Značky,Aqua Marina,18202,2013,10001.39,145,241300.89
694,300232,30,Značky,Green Biscuit,18479,2068,10983.10,153,209018.21
695,300233,30,Značky,Zepp,18211,1992,10485.76,143,193455.71
696,300234,30,Značky,Net Playz,18524,2002,10346.71,147,208011.70
697,300235,30,Značky,Metaxtren,18434,1998,10143.29,151,240763.26
698,300236,30,Značky,2W Sports,18279,2039,10355.60,159,237898.29

The join itself is accomplished using [the `DataFrame.merge` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html#pandas.DataFrame.merge). We give it two tables, `left` (that's the table instance on which the method is called) and `right`, set the join type (same as in SQL: `left`, `right`, `inner`, `outer` -- there are helpful diagrams in [the documentation on merging and joining](https://pandas.pydata.org/pandas-docs/stable/merging.html#brief-primer-on-merge-methods-relational-algebra) and in the slides - **→ see slides 33 - 36**), and the join columns: it can be a set of columns which are in both tables, or we can set different columns in both tables (we need to set the same number of columns, of course). We can even order pandas to use indexes:

In [48]:
ad_group_performance_qs = ad_group_performance_sum.merge(
    right=ad_group_qs,
    left_on='AdGroupId',
    right_index=True,
    how='left'
)

ad_group_performance_qs

,AdGroupId,CampaignId,CampaignName,AdGroupName,Impressions,Clicks,Cost,Conversions,ConversionsValue,QualityScore
0,100002,10,Sortiment,BANDÁŽE & LÉKÁRNIČKA > Bandáže,7404,773,3886.25,36,57647.81,6.632908
1,100009,10,Sortiment,"BANDÁŽE & LÉKÁRNIČKA > Chladící spreje, zahřív...",7411,784,4060.60,38,49948.08,3.632348
2,100010,10,Sortiment,BANDÁŽE & LÉKÁRNIČKA > Masážní emulze,7063,736,3627.29,38,62183.60,6.751332
3,100011,10,Sortiment,BANDÁŽE & LÉKÁRNIČKA > Tejpovací pásky,7340,768,4031.54,36,55975.46,3.671307
4,100016,10,Sortiment,BAZÉNY > Bazény nafukovací,7291,758,3765.15,39,61803.48,6.759263
5,100017,10,Sortiment,BAZÉNY > Bazény samostavěcí,7412,781,3837.84,39,69029.10,3.720429
6,100018,10,Sortiment,BAZÉNY > Bazény s pevnou stěnou,7275,752,3750.54,38,55799.99,6.487329
7,100019,10,Sortiment,BAZÉNY > Bazény příslušenství,7465,785,3911.61,38,53463.83,3.484831
8,100023,10,Sortiment,BAZÉNY > Pumpy,7475,791,3987.36,37,53718.26,3.675614
9,100024,10,Sortiment,BAZÉNY > Schůdky,6859,696,3355.85,28,39985.07,6.466821
...,...,...,...,...,...,...,...,...,...,...
689,300227,30,Značky,BARNY'S,18390,2023,10575.12,152,213450.51,3.538236
690,300228,30,Značky,Malbucare,18615,2046,10299.01,143,234677.30,6.501745
691,300229,30,Značky,Malbufit,19230,2107,10425.96,158,259113.81,3.606981
692,300230,30,Značky,Spinfire,20196,2214,11399.85,167,247684.97,6.748987
693,300231,30,Značky,Aqua Marina,18202,2013,10001.39,145,241300.89,3.575687
694,300232,30,Značky,Green Biscuit,18479,2068,10983.10,153,209018.21,6.519185
695,300233,30,Značky,Zepp,18211,1992,10485.76,143,193455.71,3.806116
696,300234,30,Značky,Net Playz,18524,2002,10346.71,147,208011.70,6.291536
697,300235,30,Značky,Metaxtren,18434,1998,10143.29,151,240763.26,3.721868
698,300236,30,Značky,2W Sports,18279,2039,10355.60,159,237898.29,6.464149

## Output

Now that we have successfully joined tables, we might want to save the results and give them to somebody else for further processing. We could share this notebook, but we would need to distribute all the data, the recipient will need Python with pandas, Jupyter installed... It is just easier for everyone to save it to XLSX:

In [49]:
ad_group_performance_qs.to_excel(
    '../output/out_ad_group_performance_qs.xlsx',
    sheet_name='Ad Groups with QS'
)

We can even write multiple sheets to a single file, we just need to create an instance of `pandas.ExcelWriter` in advance, pass it to `to_excel` and then call `save` on the writer:

In [50]:
writer = pd.ExcelWriter(
    '../output/out_all_relevant_tables.xlsx'
)
ad_group_performance_qs.to_excel(
    writer, sheet_name='Ad Groups with QS'
)
campaign_weekday_performance.to_excel(
    writer, sheet_name='Campaigns on Weekdays'
)
daily_performance.to_excel(
    writer, sheet_name='Account Daily Perf'
)
writer.save()

See [documentation for `DataFrame.to_excel`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_excel.html#pandas.DataFrame.to_excel) to learn more about saving to XLSX files.

We might want to output the data to database. pandas uses the great SQLAlchemy library under the hood, so it supports MySQL, PostgreSQL, Microsoft SQL Server and several other databases. We just need to [initialize the database connection engine)](https://docs.sqlalchemy.org/en/latest/core/engines.html) and then call `DataFrame.to_sql`. pandas and SQLAlchemy will handle creating the table automatically. Let's output the latest table to MySQL (remember to set the `charset=utf8` in the connection string):

In [51]:
from sqlalchemy import create_engine
connection = create_engine(
    'mysql://user:***@localhost/pyvo_pandas?charset=utf8'
)
ad_group_performance_qs.to_sql(
    name='ad_group_performance_qs',
    con=connection,
    if_exists='replace'
)

## Conclusion

In this tutorial, we have gone through construction of `pandas.DataFrame`s from data in Python, loading the AdWords Ad Group performance data from an XLSX file, accessing rows and columns, filtering, computing new columns, grouping, sorting and pivoting. In the end, we demonstrated joining two tables and saving to an XLS file and SQL database.

The pandas library provides many other possibilities and functions that were not mentioned in this turorial. Additionally, we didn't cover visualization of the data, which is another important step during data analysis. If you are interested in learning more, there are several good sources where to start:

* [The official pandas documentation](https://pandas.pydata.org/pandas-docs/stable/index.html), which was heavily referred to during the tutorial.
* [List of pandas tutorials in the documentation](https://pandas.pydata.org/pandas-docs/stable/tutorials.html) - I can recommend the great [Pandas cookbook by Julia Evans](https://github.com/jvns/pandas-cookbook).
* [Data Analysis with Pandas and Python on Udemy](https://www.udemy.com/data-analysis-with-pandas/) (paid course).
* [Learning pandas - Second Edition by Michael Heydt](https://www.packtpub.com/big-data-and-business-intelligence/learning-pandas-second-edition).

It is also a good idea to visit [the list of PyData projects](https://pydata.org/downloads.html) and [list of projects in the pandas Ecosystem](https://pandas.pydata.org/pandas-docs/stable/ecosystem.html) to see how pandas fits into the data science stack.